dist: trusty
sudo: false
language: python

python:
- 2.7
- &latest_py3 3.6

jobs:
  fast_finish: true
  include:
  - stage: deploy
    if: tag IS present
    python: *latest_py3
    install: skip
    script: skip
    deploy:
      provider: pypi
      on:
        tags: true
        all_branches: true
      user: jaraco
      password:
        secure: LlPivJ3AJje0KGjJI4XiLwqGZdJF7JyT8+eB900zqqzV+lKE0DOVoAmpTez5a/x7iWOX+SAMxBDWBH08tf44GOyXmJHDYPqOUe+/YAIiwtD9PQtfQ+h1B+wF0m922EH7ovO1JLr/4mItNa6PaF8flsXRyxgeo6rEozIo/1B+V5r4fRcBmj5MN7KfkIW1zRW3JKxc6dazS2h6c6DMOX/WIsnRypuY3rJXghu2DyP3GyAR2/Ifuh0WqpQxcZ4Br9tbLLqk4UEy0rks3nzZRAYOZHdfIemLABztZzmycg380WoxueJlhlfGt8J6OhFhPDRV4c8L7qYYwYI2QMZBCwLyyiCPrLLfWPr15CBgN1NH/ZD+OTzEF3lm1uL4g1V49PKzSNPbMS9SYUtbHkAAFJtlAa2ztiWmoyHNAqkomLrDAJlZAwzZIugN86/efhmLCeVkqvAvL+YeaSfp1s2Z7ua/++FEEyvTEPap5a0YhmlkXE+DEm1AfqIpupapiuRDzW0iai5jRu9vXQ6CN3iepUVLJsYWFrwXOwDfw2NHrKWUmWrX63PLVXA5I7PrvdMuvqqVrcGedbfoub4U6eGikCIrsdeOYNMf8CHd7HcIb9vbS26bGVCDphnVh2rvibWWGfDJfYZhI7WDQuszYXgMcJZwv7PrBihum/jy7rIysy4mZvY=
      distributions: dists
      skip_cleanup: true
      skip_upload_docs: true

notifications:
  slack:
    secure: lqCxOSL5xpxWIJTJK8eLyb2NFqyxxpEv61jZtwbpyIHE3YJ+t+N462oPvO/nwyy1KynRdPZWaxv1F8RWLge4CGcF9hqyh/IYBg3qIHlesGglT2yl0AVcit/1zFlp3R+RunrXpK+CQCbtIYQNr2uYzFM8EnWg8VtUWUt7R0xLnDCz5hQUyq7JxavholkjiMbiKgSL6R9EVBxO7mnBJvGxeZqCBkXRwgdNjBfnUZfithXUO5c1ybnlO9+fkjNtdDbbqGxLi8Kn2h9X+LWzdqCuSPR4rcvchgDjlIMWhdZLJFQISwRAV6Jgb9Ds255XMVwff41nfqbUeEmAis+9LZ35pbi8M5XMEAfN37nbjBVxqeLmwy1/fzgwUKAv50DOT79WfGMMn4x/cA+jR5q0TlHob+Dx3CTkGOJYEB/OGmmqYa0lKVn2Tn2M4QQGNcwcNLGItVwnmuG3lLUXbBh/LKatlPs7nZDbaHpoXIXd3ARKB2QXMGZQNhe6QDaUehQ+1ptxggXaB3Hcq3jO3jwyvfsSndFwfk+MmRr9Zr2/7KBU5XRz7SIm1n2WdkAFrPMGQy1lZht3/ouk6Xyp+ld/8sRL+OFMuhv+qzFV9kFV2QE8HX9x2mZSB6r9FNvwm5EnpLMyFZFd0DCl3u99gxwp7QYNduj89IfWk5tZhsT3eUwFLpw=

cache: pip

install:
- pip install tox tox-venv

script: tox
